<div class="d-flex align-items-center">
  <h1>日記編集</h1>
  <div class="ml-auto diaries__linkBox">
    <%= link_to '一覧', diaries_path, class: 'btn btn-outline-dark' %>
  </div>
</div>

<% if flash[:notice] %>
 <div class="alert alert-primary"><%= flash[:notice] %></div>
 <% end %>
 
<%= render partial: 'form', locals: {diary: @diary} %>