 .diaries__table{
   tr:hover {
     cursor: pointer;
   }
 }
 
 .diaries__linkBox{
   a{
     margin: 0 8px;
   }
 }
 
 .diaries__searchForm{
  display: inline-block;
 }
 
 .diaries__select{
  display: inline-block;
  width: auto;
 }